<web-app>
    <servlet>
        <servlet-name>
            soa-browser
        </servlet-name>
        <servlet-class>
            BrowserServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>soa-browser</servlet-name>
        <url-pattern>/soa-browser/*</url-pattern>
    </servlet-mapping>
</web-app>